{% extends "base.html"%}
{% block content %}
<div class="alert alert-info mt-5" role="alert">
	<strong>{{ erro }}</strong>
</div>
<div class="">
	<form class="" action="{% url 'users:solicitation_password' %}" method="POST">
    	{% csrf_token %}
    	<div class="form-group row">
  			<label for="email" class="col-md-1 col-xs-3 col-form-label">Email:</label>
  			<div class="col-xs-9">
    			<input class="form-control" type="email" value="gesiel@example.com" id="email" name="email">
  			</div>
  		</div>
  		<div class="pl-5">
			<button type="submit" class="btn btn-primary">Solicitar nova Senha</button>
		</div>
	</form>
</div>
{% endblock %}
