{% extends "base.html"%}
{% load bootstrap4 %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>email</th>
      <th>Ação</th>	
    </tr>
  </thead>
  <tbody>
  	{% for secretary in secretaries %}
  		<tr>
      		<td>{{secretary.user.first_name}}</td>
      		<td>{{secretary.user.email}}</td>
      		{% if secretary.activate == False %}
      			<td><a class="btn btn-link" href="{% url 'users:active_login_secretary' secretary.id %}">Liberar Login</a></td>
      		{% else %}
      			<td><a class="btn btn-link" href="{% url 'users:deactive_login_secretary' secretary.id %}">Bloquear Login</a></td>
      		{% endif%}
      	</tr>	
    {% endfor %}
  </tbody>
</table>
{% endblock %}
