{% extends "base.html"%}
{% block content %}

  <!-- {% block body %} -->
<br>
      <div class="col-md-8 col-md-offset-2">
        <h2>Registrar Doação</h2>
        <form class="configdiv" action="" method="post">
          <!-- <p2>{{falha}}</p2>
          {% csrf_token %}
          <br>

          <div class="form-group">
            <input type="text" name= "name" placeholder="Nome" class="form-control">
          </div>
          <div class="form-group">
            <input type="number" name= "phone_number" placeholder="Telefone" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name= "email" placeholder="Email" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name ="address" placeholder="Endereço" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name ="address_reference" placeholder="Ponto de referência" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name ="observations" placeholder="Observações" class="form-control">
          </div>
          <button type="submit" class="btn btn-success btn-lg btn-block">Salvar</button> -->

        </form>
      </div>

  <!-- {% endblock %} -->
{% endblock %}
