{% extends "base.html"%}
{% block content %}

{% if donations %}
  <div class="container">
    <div class="panel panel-default">
      <table class="table table-hover">
        <tr>
            <th>Doador</th> <th>Observações</th>
            <th>Data de coleta</th> <th>Deletar</th>
        </tr>
        {% for donation in donations %}
        <tr>
          <td> {{ donation.donor.name }} </td>
          <td> {{ donation.observations }} </td>
          <td> {{ donation.collection_date|date:'d/m/y' }} </td>
          <td> <a href="{% url 'donation:delete_donation' donation.id %}">X</a> </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% else %}
  <p> Não há doações agendadas. </p>

{% endif %}

{% endblock %}


<!-- <tbody>
  <tr>
    <td>
      {{ donation.donor.name }} {{donation.observations}}
      {{ donation.collection_date }} {{ donation.strategy.donation_value }}
    </td>
  </tr>
</tbody> -->
