.form-solicitation{
	text-align: center;
}
.form-solicitation{
	text-align: center;
}
.principal{
	min-height: 75vh !important;
}

.footer{
	height: 10vh;
	background-color: #000;
	color: #fff;
}
.footer p{
	text-align: center;
}